body {
	margin: 0;
	padding: 0;
}

h3 {
	border: 2px solid gray;
	border-radius: 5%;
	z-index: 5;
}

.cb-bg1 {
	background-color: #E2BCFA;
}

.cb-bg2 {
	background-color: #aedca7;
}

.tools {

}

.r-height {
	height: 100%;
}	

.row {

}

.col-3 {
	width: 200%;
	float: left;
}

.col-9 {
	margin-left: 200px;

}
